.row,label { /* these two were overlowing to cause tiny horizontal scroll, so doing this */
    max-width: 100vw;
}

.input-field>label {
    /* font-size: 0.8rem; */
}

form {
    background-color: lightgray;
}

.answersRow {
    border-top: 2px solid black;
}

.LnHofEachField{
    padding-left: 10px;
}

.ansField{
    font-weight: bold;
}