.row,label { /* these two were overlowing to cause tiny horizontal scroll, so doing this */
    max-width: 100vw;
}

input {
    transform: translate(10px); /*Exp1a - this & ...*/
}

.input-field>label{
    font-size: 1.2rem;
}

form {
    background-color: lightgray;
}

.answersRow {
    border-top: 2px solid black;
}

.LnHofEachField{
    padding-left: 10px; /*Exp1b - ... this both are for slightly moving to the right so elements don't stick to left edge */
}

.ansField{
    font-weight: bold; 
}