html{
    background-color: lightgray;
}

.row,label { /* these two were overlowing to cause tiny horizontl scroll, so doing this  */
    max-width: 100%;
}

input {
    transform: translate(10px); /*Exp1a - this & ...*/
    font-size: 25px;
}

.input-field>label{
    font-size: 1.8rem;
}

form {
    margin-bottom: 0px;
}

#firstAnsRow {
    border-top: 2px solid black;
}

.LnHofEachField{
    padding-left: 10px; /*Exp1b - ... this both are for slightly moving to the right so elements don't stick to left edge */
}

.ansField{
    font-weight: bold; 
}